doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Success
        link(rel="stylesheet" href="/app.css")
    body 
        main 
            div(class="grid place-items-center h-screen")
                div(class="p-3 bg-gray-200 rounded-lg")
                    h1(class="text-2xl") You have been subscribed 
                    div(class="text-center")
                        a(href="/" class="text-primary underline") Back to blog 