doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sign up to our newsletter
        link(rel="stylesheet" href="/app.css")
    body
        main 
            div(class="h-screen grid place-items-center")
                div(class="bg-gray-100 rounded-lg p-5 shadow-sm shadow-black")
                    form(method="post") 
                        h1(class="text-2xl") Sign up to our newsletter
                        if errors
                            div 
                                if errors.name
                                    p(class="text-red-500") #{errors.name}
                                if errors.email
                                    p(class="text-red-500")  #{errors.email}
                        div(class="flex flex-col gap-3")
                            div 
                                label(for="name") Name
                                input(type="text" class="w-full rounded-lg" autocomplete="name" name="name")
                            div 
                                label(for="email") Email
                                input#email(type="email" class="w-full rounded-lg" name="email")
                            div
                                button(type="submit" class="bg-primary p-2 rounded-lg") Sign up
