extends layouts/dashboard.pug

block content
    main 
        #user
        if user 
            div(class="bg-gray-300 border rounded-lg mx-2 px-2 py-3 text-center text-gray-700 mt-5")
                h1(class="text-2xl font-sans") Hello #{user.name}
                h2 #{user.email}
                form(action="/auth/logout", method="post")
                  button(class="text-red-500 text-lg hover:border hover:border-red-500 hover:rounded-lg") Logout  
        else 
            div(class="bg-gray-300 border rounded-lg mx-2 px-2 py-3 text-center text-gray-700 mt-5")
                h1(class="text-2xl font-serif") Not logged in
